<!DOCTYPE html>
<html>
<head>
  <title>Nekotter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
     <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <header>
    <h1><a href="/">ねこったー</a></h1>
    <a class="post" href="/tweets/new">つぶにゃく</a>
  </header>
<%= yield %>

</body>
</html>
